* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
  direction: rtl;
}

@font-face {
  font-family: sans-serif;
  src: url(fonts/Aaargh.ttf);
}

:root {
  --background-footer--: #f1f2f4;
  --background-paszaminha--: #fff;
  --container-width--: 1400px;
  --padding-img-namad-v-kasbokar-darbaksh-atmad: 13px 20px 13px 20px;
  --color-matn-bishtar: #19bfd3;
  --font-family--:sans-serif;
}
.banner {
  height: 120px;
  width: 100%;
  overflow: hidden;
  object-fit: cover;
  z-index: 1;
}

header .header {
  min-width: 1009px;
  max-width: 1676px;
}

.logo {
  background: url(img/logo.svg) no-repeat center;
  display: block;
  background-size: contain;
  width: 300px;
  height: 100px;
  margin-top: 6px;
  margin-left: 30px;
  margin-right: 50px;
}

header .header .header-right {
  display: flex;
  align-items: center;
  width: 90%;
}

header .header-right .searchbox {
  background: #f0f0f1;
  border: none;
  margin-top: 19px;
  border-radius: 17px;
  outline: none;
  padding: 30px 30px 26px 14px;
  width: 100%;
  font-size: 30px;
}

input::placeholder {
  color: #bcbcbd;
}

/* css code properties digikala [START] */
#digikala{
  background-color: gray;
}

/* css code properties digikala-container [START] */
#digikala-container{
  margin: 0 auto;
  width: 1400px;
}

/* css code properties header-digikala [START] */
#header-digikala{
  display: flex;
}
/* css code properties header-digikala [end] */
/* css code properties digikala-container [END] */
/* caa code properties digikala [END] */



/* css code properties section-atmad [START] */
#section-atmad {
  background-color: var(--background-paszaminha--);
}

/* css code properties atmad-container [START] */
#atmad-container {
  width: 1400px;
  margin: 0 auto;
  display: flex;
  border-top: 1px solid rgba(128, 128, 128, 0.164);
  border-bottom: 1px solid rgba(128, 128, 128, 0.164);
}

/* css code properties matn-ha [START] */
.matn-ha {
  font-family: var(--font-family--);
  padding-top: 40px;
  padding-bottom: 40px;
  margin-left: 30px;
  margin-right: 15px;
  width: 71%;
}
.matn-ha h3 {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2.1;
}
.matn-ha h3:hover{
  cursor:default;
}
.matn-ha p{
  line-height: 2.1;
}
.matn-ha p:hover{
  cursor:default;
}
.matn-ha span {
  color: var(--color-matn-bishtar);
}
.matn-ha span:hover{
  cursor:pointer;
}
/* css code properties matn-ha [END] */

/* css code properties logoHay-atmad [START] */
.logoHay-atmad {
  display: flex;
  margin-top: 70px;
  width: 17%;
}

.logoHay-atmad:hover{
  cursor:pointer;
}
/* css code properties rezi [START] */
.rezi img {
  padding: 13px 20px 10px 20px;
  margin-left: 10px;
  border: 1px solid rgba(128, 128, 128, 0.164);
  border-radius: 7px;
  width: 100px;
}
/* css code properties rezi [END] */

/* css code properties kasbokar [START] */
.kasbokar img {
  padding: var(--padding-img-namad-v-kasbokar-darbaksh-atmad);
  margin-left: 10px;
  border: 1px solid rgba(128, 128, 128, 0.164);
  border-radius: 7px;
  width: 83px;
}
/* css code properties kasbokar [END] */

/* css code properties namad [START] */
.namad img {
  padding: var(--padding-img-namad-v-kasbokar-darbaksh-atmad);
  border: 1px solid rgba(128, 128, 128, 0.164);
  border-radius: 7px;
  width: 93px;
}
/* css code properties namad [END] */
/* css code properties logoHay-atmad [END] */
/* css code properties atmad-container [END] */
/* css code properties section-atmad [END] */



/* code css properties footer [START] */
#footer {
  background-color: var(--background-paszaminha);
}

/* code css properties footer-container [START] */
#footer-container {
  width: var(--container-width--);
  margin: 0 auto;
  text-align: center;
}

/* code css properties onvan-footer [START] */
.onvan-footer {
  margin-top: 23px;
  font-weight: 400;
  line-height: 2.17;
}
/* code css properties onvan-footer [END] */

/* code css properties logos [START] */
.logos {
  margin-top: 20px;
  background-color: var(--background-footer--);
}

/* css code properties logo-up [START] */
.logo-up {
  display: inline-flex;
  box-sizing: border-box;
}
.logo-up a {
  width: 150px;
  border-right: 1px solid gray;
  border-bottom: 1px solid gray;
  padding-top: 25px;
  padding-bottom: 25px;
}
.logo-up a:first-of-type {
  border-right: none;
}
.logo-up div {
  height: 20px;
}
.logo-up img {
  object-fit: contain;
}

/* css code properties logo-up [END] */

/* css code properties logo-down [START] */
.logo-down {
  display: inline-flex;
  box-sizing: border-box;
}
.logo-down a {
  width: 150px;
  border-right: 1px solid gray;
  border-bottom: 1px solid gray;
  padding-top: 25px;
  padding-bottom: 25px;
}
.logo-down a:first-of-type {
  border-right: none;
}
.logo-down div {
  height: 20px;
}
.logo-down img {
  object-fit: contain;
}
/* css code properties logo-down [END] */
/* css code properties logos [END] */
/* code css properties footer-container [END] */
/* code css properties footer [END] */
